{% extends "main.html" %}

{% block content %}
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">

        <div class="card card-statistics">
            <div class="card-heading">
                <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModal" style="display: none" aria-modal="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Woohoo, you're reading this text in a modal!
                                        <form>

                    <div class="form-group">
                        <!--                        <label for="type" >Loại nghỉ</label>-->

                        <!--                        <select class="custom-select my-1 mr-sm-2" id = "flag_allow" >-->
                        <!--                                                <option value="0">Chọn</option>-->
                        <!--                                                <option selected value="1">Có phép</option>-->
                        <!--                                                <option value="0">Không phép</option>-->
                        <!--                        </select>-->
                        <label for="reason">Lý do</label>
                        <textarea class="form-control" id="reason"
                                  aria-describedby="emailHelp" placeholder="Nhập lý do"></textarea>

                        <label for="exampleInputPassword1">Ngày bắt đầu</label>
                        <input type="date" class="form-control" id="time_from" value="2023-09-01"
                               placeholder="Password">

                        <label for="exampleInputPassword1">Giờ bắt đầu</label>
                        <input type="time" class="form-control" id="hour_from" value="08:00"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày kết thúc</label>
                        <input type="date" class="form-control" id="time_to" value="2023-09-01"
                               placeholder="Password">
                        <label for="exampleInputPassword1">Giờ kết thúc</label>
                        <input type="time" class="form-control" id="hour_to" value="17:00"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tổng số ngày bổ sung</label>
                        <input type="number" class="form-control" id="sum_absen_days" readonly value="0"
                        >
                        <!--                        <label for="exampleInputPassword1">Số ngày nghỉ phép còn lại </label>-->
                        <!--                        <input type="number" readonly class="form-control" id="rest_allowed_day"-->
                        <!--                               value="{{user.rest_allowed_day}}">-->
                    </div>
                    <div class="alert alert-primary" role="alert" id="alert_validate">
                        gyhjgjg
                    </div>
                </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button id="submit_add_wk" type="submit" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog" aria-labelledby="defaultModal1" style="display: none" aria-modal="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Woohoo, you're reading this text in a modal!
                                        <form>

                    <div class="form-group">
                        <label for="type" >Loại nghỉ</label>

                        <select class="custom-select my-1 mr-sm-2" id = "flag_allow" >
                                                <option value="0">Chọn</option>
                                                <option selected value="1">Có phép</option>
                                                <option value="0">Không phép</option>
                        </select>
                        <label for="reason">Lý do</label>
                        <textarea class="form-control" id="reason"
                                  aria-describedby="emailHelp" placeholder="Nhập lý do"></textarea>

                        <label for="exampleInputPassword1">Ngày bắt đầu</label>
                        <input type="date" class="form-control" id="time_from" value="2023-09-01"
                               placeholder="Password">

                        <label for="exampleInputPassword1">Giờ bắt đầu</label>
                        <input type="time" class="form-control" id="hour_from" value="08:00"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày kết thúc</label>
                        <input type="date" class="form-control" id="time_to" value="2023-09-01"
                               placeholder="Password">
                        <label for="exampleInputPassword1">Giờ kết thúc</label>
                        <input type="time" class="form-control" id="hour_to" value="17:00"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tổng số ngày nghỉ</label>
                        <input type="number" class="form-control" id="sum_absen_days" readonly value="0"
                        >
                        <label for="exampleInputPassword1">Số ngày nghỉ phép còn lại </label>
                        <input type="number" readonly class="form-control" id="rest_allowed_day"
                               value="{{user.rest_allowed_day}}">
                    </div>
                     <div class="alert alert-primary" role="alert" id="alert_validate_add_wk">
                        dfdsf
                    </div>
                </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button id="submit_absence" type="submit"  class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                <button >View Modal</button>-->
                <span class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tạo yêu cầu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="$('#defaultModal'.show())" data-toggle="modal" data-target="#defaultModal">Nghỉ phép </a>
                        <a class="dropdown-item" onclick="$('#defaultModal1'.show())" data-toggle="modal" data-target="#defaultModal1">Bổ sung công</a>
                    </div>
                    </span>


<!--                    <h4 class="card-title">Đăng Ký Nghỉ Phép</h4>-->
                </div>
        </div>
    </div>


</div>
<script>
    date = new Date()
    str_date_today = date.toISOString().split('T')[0]
    console.log(str_date_today)
    $("#time_to").val(str_date_today)
    $("#time_from").val(str_date_today)
</script>

{% endblock %}

