{% extends "main.html" %}

{% block content %}
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">

        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading" style="height: 100%">
                    <h4 class="card-title">CHẤM CÔNG</h4>
                </div>
            </div>
            <div class="card-body">
                <form >
                    <button id="check_in" style="border:none;background-color: white">
                        <a href="javascript:void(0);" class="btn btn-round btn-info"> CHẤM CÔNG </a>
                    </button>
                    <div class="alert alert-primary" role="alert" id="alert_validate">
                        dfdsf
                    </div>


                </form>
            </div>
        </div>
    </div>


</div>

{% endblock %}

